---
import PageContainer from "../components/PageContainer.astro";
import {GridLayout} from '../components/GridLayout';
---

<PageContainer title="Jbuilder">
  <h1>Builder</h1>
  <GridLayout client:only/>
</PageContainer>
