---
import Layout from '../layouts/Layout.astro';
import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
---

<Layout title="Welcome to Jbuilder">
	<a href="/builder">Go to layout builder</a>
</Layout>
